.App {
	text-align: center;
	min-width: 100vw;
	min-height: 100vh;
	background-color: #fffafa;
	color: #333333;
}

.bitcoin-img {
	margin-right: 10px;
	height: 80%;
}

.absolute-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
